#---------------------------------#
#      general configuration      #
#---------------------------------#

#

#---------------------------------#
#    environment configuration    #
#---------------------------------#

# Operating system (build VM template)
os: Visual Studio 2015

# environment variables
environment:
  QT5_DIR: C:\Qt\5.6\msvc2015_64
  KIT_ROOT: C:\local_vs2015_64
  BOOST_ROOT: C:\Libraries\boost_1_59_0
#
  matrix:
  - B_USE_QT5:  OFF  # so we use Qt4 here for UI
  - B_USE_QT5:  ON

# this is how to allow failing jobs in the matrix
matrix:
  fast_finish: true # set this flag to immediately finish build once one of the jobs fails
#  allow_failures:

# build cache to preserve files/folders between builds
#cache:
# - %KIT_ROOT% # don't work !?
#  - C:\local_vs2015_64 # cached folder size cannot exceed 500 MB, so OFF for the moment...

# scripts that are called at very beginning, before repo cloning
init:
#  - set
#  - msbuild /version
#  - cmake --version
#  - dir C:\Libraries
#  - dir C:\Libraries\boost_1_59_0
#  - dir C:\Qt
#  - dir C:\Qt\5.6
  - set APPVEYOR=TRUE
  - set CACHE=FALSE

#---------------------------------#
#       build configuration       #
#---------------------------------#

# build Configuration, i.e. Debug, Release, etc
configuration:
  - Release
  - Debug

# MSBuild verbosity level
#  verbosity: quiet|minimal|normal|detailed

# scripts to run before build
before_build:
# Get rid of pesky Xamarin build messages, refer to
# http://help.appveyor.com/discussions/problems/4569-the-target-_convertpdbfiles-listed-in-a-beforetargets-attribute-at-c-does-not-exist-in-the-project-and-will-be-ignored
  - del "C:\Program Files (x86)\MSBuild\14.0\Microsoft.Common.targets\ImportAfter\Xamarin.Common.targets"
  - IF EXIST %KIT_ROOT% SET CACHE=TRUE
#
  - echo %CACHE%
  - IF %CACHE%==FALSE echo CACHE_IS_FALSE
  - IF %CACHE%==TRUE echo CACHE_IS_TRUE
#
  - IF %CACHE%==FALSE mkdir %KIT_ROOT%
  - IF %CACHE%==FALSE cd %KIT_ROOT%
### Install VCITY dependencies:
# Qt4
  - IF %CACHE%==FALSE curl -s -O https://download.gforge.liris.cnrs.fr/meppbin/windows/vs2015/MEPP/packages/clean/qt-4.8.7-x64-msvc2015.7z
  - IF %CACHE%==FALSE 7z x qt-4.8.7-x64-msvc2015.7z > nul
# OSG
  - IF %CACHE%==FALSE curl -s -O https://download.gforge.liris.cnrs.fr/meppbin/windows/vs2015/MEPP/packages/redo/osg-3.4.0.7z
  - IF %CACHE%==FALSE 7z x osg-3.4.0.7z > nul
# assimp
  - IF %CACHE%==FALSE curl -s -O https://download.gforge.liris.cnrs.fr/meppbin/windows/vs2015/MEPP/packages/redo/assimp-3.2.rar
  - IF %CACHE%==FALSE 7z x assimp-3.2.rar > nul
# gdal
  - IF %CACHE%==FALSE curl -s -O https://download.gforge.liris.cnrs.fr/meppbin/windows/vs2015/VCITY/packages/clean/gdal.rar
  - IF %CACHE%==FALSE 7z x gdal.rar > nul
# laslib
  - IF %CACHE%==FALSE curl -s -O https://download.gforge.liris.cnrs.fr/meppbin/windows/vs2015/VCITY/packages/clean/laslib.rar
  - IF %CACHE%==FALSE 7z x laslib.rar > nul
# libxml
  - IF %CACHE%==FALSE curl -s -O https://download.gforge.liris.cnrs.fr/meppbin/windows/vs2015/VCITY/packages/clean/libxml2-2.9.3.rar
  - IF %CACHE%==FALSE 7z x libxml2-2.9.3.rar > nul
### PCL and its sub-dependencies
# Boost:
  - ren C:\Libraries\boost_1_59_0\lib64-msvc-14.0 lib
# eigen
  - IF %CACHE%==FALSE curl --connect-timeout 60 --max-time 600 -s -O https://download.gforge.liris.cnrs.fr/meppbin/windows/vs2015/MEPP/packages/clean/eigen-3.2.8.rar
  - IF %CACHE%==FALSE 7z x eigen-3.2.8.rar > nul
# PCL, flann, qhull
  - IF %CACHE%==FALSE curl --connect-timeout 60 --max-time 600 -s -O https://download.gforge.liris.cnrs.fr/meppbin/windows/vs2015/MEPP/packages/clean/PCL-1.7.2.7z
  - IF %CACHE%==FALSE 7z x PCL-1.7.2.7z > nul
#
#
  - cd %APPVEYOR_BUILD_FOLDER%
# If someday we use the binary kit of 2012 again, then the pertinent option
# concerning OSG-QT will be -DBUILD_EMBARKED_OSG-QT_32=ON (i.e. 32 instead of 34).
  - cmake . -G"Visual Studio 14 2015 Win64" -DVCITY_KIT_ROOT=%KIT_ROOT% -DBUILD_GUI_QT5=%B_USE_QT5% -DBUILD_EMBARKED_OSG-QT_34=ON -DBUILD_ALL_PLUGINS=ON -DBUILD_PCL=ON

# to run your custom scripts instead of automatic MSBuild
build_script:
  - msbuild 3DUSE.sln # Avoid /m which produces random crashes Qt-MOC invocations
  # Some existing tests trigger exceptions on Win32...
  # - ctest
